<p>Login</p>
<a href="/auth/google">Google</a> <br>
<a href="/auth/github">Github</a>

<form class="" action="https://stackexchange.com/oauth" method="post">
  <input type="text" name="client_id" value="11276">
  <input type="text" name="scope" value="private_info">
  <input type="text" name="redirect_uri" value="http://localhost:4000/">
  <input type="submit" name="submit" value="Submit">

</form>
