<div class="col-md-8">
  <h2>Login</h2>
  <hr>
    <div class="login_buttons">
        <a class="btn btn-danger" href="/auth/google">Google</a>
    </div>
    <div class="login_buttons">
    <a class="btn btn-primary" href="/auth/github/">GitHub</a>
    </div>

<button type="button" id="login-button" name="button">Stack Login</button>
</div>

<form class="form" action="https://stackexchange.com/oauth" method="post">
<input type="text" name="scope" value="private_info">
<input type="text" name="client_id" value="11276">
<input type="text" name="redirect_uri" value="http://pacific-crag-58243.herokuapp.com/auth/stack/callback">
<input type="submit" value="Login">
</form>
