{{#each posts}}
<div class="post-card" style="margin-top:20px;">
  <div class="col-md-4">
    <div class="card" style="width: 20rem;">
      <img class="card-image img" src="/public/{{this.image}}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{Titleslice this.title}}</h4>
        <p class="card-text">{{Bodyslice this.body}}</p>
        <a href="/post/{{this.slug}}" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
</div>


  {{/each}}
